.custom-category-style {
  background-color: rgb(221, 236, 217);
  line-height: 2rem;
  word-break: normal;
}
.custom-category-style a {
  text-decoration: none;
  color: rgb(22, 66, 13)
}
.custom-category-style a:hover {
  text-decoration: none;
  color: rgb(218, 56, 16)
}

.custom-category-img-actived {
  box-shadow:2px 2px 2px rgb(100, 100, 100);
  height: 48px;
}
.custom-category-img-link {
  height: 32px;
}