.custom-document-style {
  background-color: rgb(221, 236, 217);
  line-height: 2rem;
  word-break: normal;
}
.custom-document-style a {
  text-decoration: none;
  color: rgb(13, 47, 66)
}
.custom-document-style a:hover {
  text-decoration: none;
  color: rgb(29, 16, 218)
}

.custom-document-content p,
p.custom-document-paragraph-start-space {
  text-indent: 2em;
}
.custom-document-content h6 {
  line-height: 2rem;
  font-weight: bold;
}
