/*-----------------------------------------------------------------------------------------
  Common part.
-----------------------------------------------------------------------------------------*/
.custom-text-shadow-1px {
  text-shadow: 1px 1px 1px darkgray;
  -webkit-text-shadow: 1px 1px 1px darkgray;
  -moz-text-shadow: 1px 1px 1px darkgray;
  -ms-text-shadow: 1px 1px 1px darkgray
}
.custom-text-shadow-2px {
  text-shadow: 2px 2px 2px darkgray;
  -webkit-text-shadow: 2px 2px 2px darkgray;
  -moz-text-shadow: 2px 2px 2px darkgray;
  -ms-text-shadow: 2px 2px 2px darkgray
}
.custom-text-shadow-3px {
  text-shadow: 3px 3px 3px darkgray;
  -webkit-text-shadow: 3px 3px 3px darkgray;
  -moz-text-shadow: 3px 3px 3px darkgray;
  -ms-text-shadow: 3px 3px 3px darkgray
}
.custom-text-shadow-white-1px {
  text-shadow: 1px 1px 1px white;
  -webkit-text-shadow: 1px 1px 1px white;
  -moz-text-shadow: 1px 1px 1px white;
  -ms-text-shadow: 1px 1px 1px white;
}
.custom-text-shadow-white-2px {
  text-shadow: 2px 2px 2px white;
  -webkit-text-shadow: 2px 2px 2px white;
  -moz-text-shadow: 2px 2px 2px white;
  -ms-text-shadow: 2px 2px 2px white;
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 1;
  }
}
@media (min-width: 768px) { 
  .card-columns {
    column-count: 3;
  }
}
@media (min-width: 992px) { 
  .card-columns {
    column-count: 4;
  }
}

/*---------------------------------------
  Go To Top, code comes from Bootdtrap
---------------------------------------*/
.u-go-to {
  display: none;
  position: relative;
  z-index: 100;
  width: 3rem;
  height: 3rem;
  background-color: rgb(17, 112, 253);
  color: #fff;
  font-size: 0.75rem;
  border-radius: 2rem;
  opacity: 0.5;
  transition: 0.3s ease-out;
}
.u-go-to__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.u-go-to:hover, .u-go-to:focus:hover {
  color: #fff;
  opacity: 1;
}

/*---------------------------------------
  social_media_icons_style, 2 sets
---------------------------------------*/
.social_media ul li a {
  text-align: center;
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  line-height: 34px;
  background: transparent;
  border: 2px solid #fff;
}
.social_media ul li a:hover path {
  fill: rgb(96, 178, 255);
}

.list-social-links {
  padding: 0;
  list-style: none;
  display: flex; 
}
.list-social-links a {
  display: block;
  padding: 0.125rem .5rem;
  background: #dee2e6;
  color: #6c757d;
  border-radius: 0.375rem;
  transition: background-color 0.1s linear, color 0.1s linear; 
}
.list-social-links a:hover {
  background: #ced4da;
  color: rgba(21, 42, 73, 1); 
}
.list-social-links i {
  font-size: .75rem;
}
.list-social-links > li {
  margin-right: 0.375rem; 
  width: 30px;
  text-align: center;
}
.list-social-links > li.text-white a {
  color: #fff;
  background: rgba(21, 42, 73, 0.5); 
}
.list-social-links > li.text-white a:hover {
  background: rgba(21, 42, 73, 0.75); 
}

/*-----------------------------------------------------------------------------------------
  For all pages except index.
-----------------------------------------------------------------------------------------*/
.custom-title-height {
  min-height: 39vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.custom-title-space-height {
  height: 58px
}

.custom-card-offset-y20 {
  margin-top: -24px; 
  margin-bottom: 24px;
}

/*-----------------------------------------------------------------------------------------
  For Nav Bar.
-----------------------------------------------------------------------------------------*/
.custom-input-height-30 {
  height: 30px
}

.custom-dropdownitem-link {
  color: white
}
.custom-dropdownitem-link:hover {
  background-color: rgba(147, 190, 255, 0.95);
  color: black;
}

/*-----------------------------------------------------------------------------------------
  For index/about/header/footer page.
-----------------------------------------------------------------------------------------*/
.custom-header-bgcolor,
.custom-footer-bgcolor {
  background-color: rgb(26, 79, 109)
}

.custom-transparency-95 {
  background-color: rgba(10, 45, 97, 0.95);
}

.custom-index-bgcolor {
  background-color: rgb(23, 52, 75)
}

.costom-text-darkgray {
  color: darkgray
}

.custom-timeline-bgcolor {
  background: #ecf0f1
}

.costom-team-color {
  color: rgb(117, 158, 207)
}

.custom-team-bgcolor {
  background-color: rgb(18, 41, 59)
}

.custom-carousel-img-height {
  min-height: 50vh;
  max-height: 100vh;
}

.custom-testimonial-height {
  min-height: 50vh;
}

.custom-footer-color, .custom-footer-brand {
  color: #ccc;
  text-decoration: none;
}
.custom-footer-brand:hover {
  text-decoration: none;
  color: white;
}

.custom-footer-lang {
  font-size: 1.2em;
  color: white
}
a.custom-footer-lang:hover {
  text-decoration: none;
  font-size: 1.2em;
  color: #fff
}

.costom-footer-badge-enable-color {
  background: rgba(21, 42, 73, 0.5); 
}
.costom-footer-badge-enable-color:hover {
  background: rgba(21, 42, 73, 0.75); 
}
.costom-footer-badge-disable-color {
  background: rgb(47, 56, 66)
}

/*-----------------------------------------------------------------------------------------
  For about page.
-----------------------------------------------------------------------------------------*/

.custom-about-bgcolor {
  background-color: rgb(21, 42, 73)
}

.costom-default-color-about-0 {
  color: #a55
}
.costom-default-color-about-1 {
  color: #5a5
}
.costom-default-color-about-2 {
  color: #55a
}

.costom-default-color-about-bg0 {
  background: rgb(255, 237, 237)
}
.costom-default-color-about-bg1 {
  background: rgb(238, 253, 238)
}
.costom-default-color-about-bg2 {
  background: rgb(237, 237, 255)
}

.custom-div-about:hover {
  color: white;
  background: rgb(74, 110, 163);
}
.custom-div-about:hover h3 {
  color: white;
}
.custom-div-about:hover path {
  fill: white;
}

/*-----------------------------------------------------------------------------------------
  For index/news page.
-----------------------------------------------------------------------------------------*/
.custom-news-bgcolor {
  background: #05352b
}
.custom-news-title-color {
  color: #000000
}
.custom-news-title-color:hover {
  color: #186918;
  text-decoration: none 
}
.custom-news-content-color {
  color: #666
}

/*-----------------------------------------------------------------------------------------
  For contact page.
-----------------------------------------------------------------------------------------*/

.custom-contact-bgcolor {
  background-color: rgb(33, 26, 63)
}

.custom-contact-map-height {
  max-height: 360px
}

.custom-contact-form-bgcolor {
  background: rgb(189, 214, 230)
}

.custom-contact-link {
  color: #261cb4;
  text-decoration: none
}
.custom-contact-link:hover {
  color: #0f8360;
  text-decoration: none
}

/*-----------------------------------------------------------------------------------------
  For service page.
-----------------------------------------------------------------------------------------*/

.custom-service-bgcolor {
  background-color: rgb(29, 39, 53)
}

.custom-service-link {
  color: #1296db;
  text-decoration: none
}
.custom-service-link:hover {
  text-decoration: none;
  color: #145070;
}
.custom-service-link:focus {
  text-decoration: none;
  color: #145070;
}

.custom-service-function { 
  cursor:pointer;
}
.custom-service-function:hover { 
  -webkit-box-shadow: 0 0 0 2px rgb(93, 90, 255);
  -moz-box-shadow: 0 0 0 2px rgb(93, 90, 255);
  box-shadow: 0 0 0 2px rgb(114, 147, 253);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*-----------------------------------------------------------------------------------------
  For product pages.
-----------------------------------------------------------------------------------------*/

.custom-product-bgcolor {
  background: #002530
}

.custom-product-card-bgcolor1 {
  background: #030a46
}

.custom-product-card-bgcolor2 {
  background: #bcc3ff
}

.custom-product-cat-link { 
  display: inline-block;
  vertical-align: top;
  -webkit-transition: .1s;
  -o-transition: .1s;
  -moz-transition: .1s;
  transition: .1s;
  margin-bottom: .21rem;
  width: 98%;
  color: #016b4b;
  text-shadow: 1px 1px 1px white;
  -webkit-text-shadow: 1px 1px 1px white;
  -moz-text-shadow: 1px 1px 1px white;
  -ms-text-shadow: 1px 1px 1px white;
  cursor:pointer
}
.custom-product-cat-link .card {
  border: 0px;
}
.custom-product-cat-link:hover { 
  color: rgb(180, 42, 0);
  text-shadow: 1px 1px 1px white;
  -webkit-text-shadow: 1px 1px 1px white;
  -moz-text-shadow: 1px 1px 1px white;
  -ms-text-shadow: 1px 1px 1px white
}
.custom-product-cat-link:hover .card {
  border: 2px dotted;
}

.custom-product-cat-link2-height {
  max-height: 80px
}
.custom-product-cat-link2 {
  width: 7.5rem;
  margin-left: auto;
  margin-right: auto;
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(50%);
  opacity: .65;
  transition: all 0.3s ease;
}
.custom-product-cat-link2:hover {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0%);
  opacity: 1;
}

/*-----------------------------------------------------------------------------------------
  For search pages.
-----------------------------------------------------------------------------------------*/

.custom-search-bgcolor {
  background-color: rgb(32, 48, 71)
}

.custom-search-term { 
  background: yellow
}

.custom-search-result-title { 
  font-size: 110%
}
.custom-search-result-text { 
  font-size: 100%
}

.custom-search-link {
  text-decoration: none;
  color: #686868;
}
.custom-search-link:hover {
  text-decoration: none;
  color: white;
}
.custom-search-link:hover div {
  background: #1978ac;
}
.custom-search-link:hover .custom-search-term {
  color: black;
}
